# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Virtual environments
Env/
.venv/
venv/

# Environment files
.env
.env.example
.env*

cookie.txt
ghostcode.db

# Django
Backend/.env
Backend/db.sqlite3
Backend/staticfiles/
Backend/celerybeat-schedule*
media/

# Node / Vite
Frontend/node_modules/
Frontend/dist/

# Log files
*.log
*.err
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
